/* Custom Properties */
:root {
  --max-width: 1200px;
  --header-height: 4rem;

  --font: "Arial", "sans-serif";

  --first-color: #C1605C;
  --first-alpha-color: rgba(193, 96, 92, 0.75);
  --second-color: #E9C3B8;
  --second-alpha-color: rgba(233, 195, 184, 0.75);
  --third-color: #FDF0EC;
  --third-alpha-color: rgba(253, 240, 236, 0.75);
  --white-color: #FEFBF6;
  --white-alpha-color: rgba(254, 251, 246, 0.75);

  --first-contrast-color: #224A54;
  --first-contrast-alpha-color: rgba(34, 74, 84, 0.75);
  --second-contrast-color: #1F4954;
  --second-contrast-alpha-color: rgba(31, 73, 84, 0.75);
  --third-contrast-color: #98BEC8;
  --third-contrast-alpha-color: rgba(152, 190, 200, 0.75);
  --fourth-contrast-color: #D7E0E5;
  --fourth-contrast-alpha-color: rgba(215, 224, 229, 0.75);
  --black-color: #1A1A1A;
  --black-alpha-color: rgba(26, 26, 26, 0.75);

  --first-title-color: #3BAB87;
  --first-title-alpha-color: rgba(57, 171, 135, 0.75);

}

.home {
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.2rem;
  height: 80vh;
}

.article--name-container {
  width: 60vw;
}

.section--profile {
  width: 50vw;
}
