/* Custom Properties */
:root {
  --max-width: 1200px;
  --header-height: 4rem;

  --font: 'Montserrat', sans-serif;;
  --mark-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --cursive-font: 'Pacifico', cursive;
  --border-radius: 1.5rem;

  --first-color: #05445E;
  --first-alpha-color: rgba(5, 68, 94, 0.75);
  --second-color: #189AB4;
  --second-alpha-color: rgb(24, 154, 180, 0.75);
  --third-color: #75E6DA;
  --third-alpha-color: rgb(117, 230, 218, 0.75);
  --fourth-color: #D4F1F4;
  --fourth-alpha-color: rgba(212, 241, 244, 0.75);


  --gray-color: #CCC;
  --gray-light-color: #f3f3f3;
  --white-color: #fff;
  --black-color: #2f2f2f;
}

/* Reset */

html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;
  background-color: var(--third-color);
}

body {
  margin: 0;
  overflow-x: hidden;
  color: var(--black-color);
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  color: var(--first-title-color);
  transition: all 0.5s ease-out;
  text-decoration: none;
}

a:hover {
  color: var(--first-title-alpha-color);
}

h1 {
  margin: 0;
  font-size: 2rem;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
}

h3 {
  margin: 0;
  font-size: 1.25rem;
}

h4 {
  margin: 0;
  font-size: 1rem;
}

h5 {
  margin: 0;
  font-size: 0.85rem;
}

h6 {
  margin: 0;
  font-size: 0.7rem;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.6;
}

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

/* Components */

.menu-btn {
  background-color: var(--first-color);
  /* outline: thin solid var(--first-color); */
  border: 0;
  cursor: pointer;

}

.menu-btn img {
  fill: var(--first-color);
  width: 2rem;
  height: 2rem;
}


.menu {
  position: fixed;
  left: 0;
  bottom: var(--header-height);
  width: 100%;
  background-color: var(--second-color);
  padding: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

.menu.is-active {
  opacity: 1;
  pointer-events: auto;
}

.menu a {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--first-color);
  display: inline-block;
  width: 100vw;
}

.menu a:hover {
  color: var(--white-color);
  background-color: var(--first-color);
}


/* Utils */

.box-shadow {
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
  margin: 1.2rem 0;
  padding: 1.2rem;
}

.none {
  display: none;
}

.btn {
  color: var(--white-color);
  background-color: var(--first-color);
  padding: 1rem;
  margin: 2rem;
  border-radius: var(--border-radius);
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

.link > .btn {
  padding: 0.4rem;
  margin: 0.8rem;
}


.complete {
  height: auto;
}


iframe, video {
  width: 90%;
  height: auto;
  margin-bottom: 1.2rem;
}


/* Site styles */

header {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 1rem;
  z-index: 999;
  width: 100%;
  height: var(--header-height);
  background-color: var(--first-color);

}

header > .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  font-weight: bold;
  font-size: 2rem;
  color: var(--white-color);

}

/* .home {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: auto;
}

.article--name-container {
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  margin: 0.8rem 0;
  background-color: var(--first-title-color);
  color: var(--white-color);
  height: auto;
  border-radius: var(--border-radius);
  justify-content: center;
  align-items: center;
  width: 40vw;
}

.name-item {
  width: 100%;
  display: flex;
}

.name {
  justify-content: start;
}

.lastname {
  justify-content: end;
}

.section--profile {
  background-color: var(--third-contrast-color);
  width: 60vw;
  border-radius: var(--border-radius);
}

.profile-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.8rem;
  border-radius: var(--border-radius);
  background-color: var();
}


.profile-photo img {
  width: 50vw;
  height: auto;
  border-radius: var(--border-radius);
}


.article--links-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  margin-top: 0;
  margin-bottom: 0.4rem;
}

.link a img, .img{
  width: auto;
  height: 2.4rem;
}

.about {
  background-color: var(--second-color);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.about-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: auto;
  height: auto;
  gap: 1.2rem;
}

.about-container p, .about-container h2 {
  text-align: center;
}

.mark {
  font-style: italic;
  font-family: var(--mark-font);
  position: absolute;
  bottom: 0.4rem;
  left: 0.4rem;
  color: var(--first-contrast-color);
  font-weight: bold;
}

#projects,
.about,
#certifications,
.certifications-container,
.contact-me {
  position: relative;
}

.download-cv {
  margin: 0.4rem 0;
}

.flex-data-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  width: 100%;
  padding: 1.2rem;
}

.project-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1.2rem;
}

.data > h2 {
  text-decoration: underline;
}

.data {
  width: 70vw;
  gap: 1rem
}

.projects-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
}

.projects-item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

table {
  text-align: center;
  height: 90%;
  font-size: 0.84rem;
}
.download-cv {
  width: auto;
}

th {
  color: var(--white-color);
}

td {
  min-width: 25vw;
  max-width: 30vw;
}

#certifications {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--third-contrast-color);
}

.certifications-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0.8rem;
  height: auto;
  width: fit-content;
}

.certifications-table {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.title-container {
  background-color: var(--second-contrast-color);
  color: var(--white-color);
  padding: 0.8rem;
  border-radius: var(--border-radius);
  width: 60vw;
}

#projects {
  background-color: var(--fourth-contast-color);
}

.contact-form {
  margin: 2rem auto;
  padding: 1rem;
  max-width: 90vw;
}

.contact-form > * {
  padding: 0.5rem;
  margin: 1rem auto;
  display: block;
  width: 100%;
}

.contact-form input,
.contact-form textarea {
  font-size: 0.85rem;
  font-family: var(--font);
}

.contact-form input {
  border: 0;
  padding-left: 0;
  border-bottom: thin solid var(--gray-dark-color);
}

.contact-form textarea {
  border: thin solid var(--gray-dark-color);
  resize: none;
}

.contact-form input[type="submit"] {
  margin-top: 0;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.contact-form input[type="submit"]:hover {
  opacity: 0.75;
}

.contact-form *::placeholder {
  color: var(--gray-dark-color);
}

.contact-form-response {
  padding: 1rem;
  width: 40rem;
  text-align: center;
  background-color: var(--white-color);
}
.contact-form-response svg {
  margin-top: 2rem;
  width: 4rem;
  height: 4rem;
  fill: var(--first-color);
}

#career {
  width: 30vw;
  text-align: center;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.me {
  font-style: italic;
}

.contact-me-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.subtitle {
  background-color: var(--first-contrast-color);
  color: var(--white-color);
  padding: 0.2rem 6rem;
  margin: 0.2rem 4rem;
  text-align: center;
}

.contact-me {
  background-color: var(--fourth-contrast-color);
}


.flex-container img {
  width: 40vw;
  height: auto;
} */
