/* Custom Properties */
:root {
  --max-width: 120rem;
  --header-height: 5rem;
  --logo-font-size: 1.8rem;
  --menu-font-large: 2rem;
  --text-font-size: 1.6rem;
  --section-separation-margin: 2rem;
  --section-separation-padding: 2rem;

  --font: 'Montserrat', sans-serif;;
  --mark-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --cursive-font: 'Pacifico', cursive;
  --border-radius: 0.5rem;

  --first-color: #05445E;
  --first-alpha-color: rgba(5, 68, 94, 0.75);
  --second-color: #189AB4;
  --second-alpha-color: rgb(24, 154, 180, 0.75);
  --third-color: #53a8a0;
  --third-alpha-color: rgb(83, 168, 160, 0.75);
  --fourth-color: #E4F0F1;
  --fourth-alpha-color: rgb(228, 240, 241, 0.75);


  --gray-color: #CCC;
  --gray-light-color: #f3f3f3;
  --white-color: #fff;
  --black-color: #2f2f2f;
}

/* Reset */

html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 62.5%;
  scroll-behavior: smooth;
  background-color: var(--fourth-color);
}

body {
  margin: 0;
  overflow-x: hidden;
  color: var(--black-color);
  position: relative;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  color: var(--first-title-color);
  transition: all 0.5s ease-out;
  text-decoration: none;
}

a:hover {
  color: var(--first-title-alpha-color);
}

h1 {
  margin: 0;
  font-size: 3.2rem;
}

h2 {
  margin: 0;
  font-size: 2.4rem;
}

h3 {
  margin: 0;
  font-size: 2rem;
}

h4 {
  margin: 0;
  font-size: 1.6rem;
}

h5 {
  margin: 0;
  font-size: 1.36rem;
}

h6 {
  margin: 0;
  font-size: 1.12rem;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.6;
}

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

img {
  width: 2.5rem;
  height: auto;
}

iframe, video, form {
  width: 80%;
  height: auto;
}

body > section {
  margin: var(--section-separation-margin) 0;
  padding: var(--section-separation-padding) 0;

}

body > .home {
  margin: 0;
}

/* Components */

.box-shadow {
  box-shadow: -0.3rem -0.3rem 0.7rem #ffffff75, 0.3rem 0.3rem 0.5rem rgba(94, 104, 121, 0.288);
}

.btn {
  background-color: var(--first-color);
  color: var(--white-color);
  padding: 1rem;
  margin: 2rem;
}

.border-radius {
  border-radius: var(--border-radius);
}

.container {
  /* margin: 2rem 0.8rem; */
  height: auto;
  position: relative;
  width: 100%;
  gap: 1rem;
  font-size: var(--text-font-size);
}

.description p {
  width: 80%;
}

#career {
  background-color: var(--first-color);
}

.subtitle.emphasis {
  background-color: var(--third-color);
  width: 80%;
}


.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.project-imgs {
  flex-wrap: wrap;
}

.flex-item img {
  width: 40vw;
  height: auto;
}

.mark {
  font-style: italic;
  text-decoration: underline;
  font-family: var(--mark-font);
  position: absolute;
  bottom: 0.4rem;
  left: 0.4rem;
  color: var(--first-contrast-color);
  font-weight: bold;
}

.none {
  display: none;
}

.onHover:hover {
  transition: 0.3s ease;
  box-shadow: -1rem 1rem 1rem var(--black-color);
}

.subtitle {
  color: var(--white-color);
  background-color: var(--second-color);
  padding: 1rem;
  width: 80vw;
}

.subtitle:hover {
  color: var(--fourth-color);
}

/* Site config */

/* Nav bar */

.menu.is-active {
  opacity: 1;
  pointer-events: auto;
}

.menu {
  background-color: var(--second-color);
  position: fixed;
  left: 0;
  bottom: var(--header-height);
  width: 100%;
  padding: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

.menu a {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--first-color);
  display: inline-block;
  width: 100vw;
}

.menu a:hover {
  background-color: var(--first-alpha-color);
  color: var(--white-color);
}

.menu-btn {
  background-color: var(--first-color);
  border: 0;
  cursor: pointer;
}

.menu-btn img {
  width: 1.6rem;
  fill: var(--first-alpha-color);
}

#nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: var(--cursive-font);
  font-size: var(--logo-font-size);
  color: var(--white-color);
}

header {
  background-color: var(--first-color);
  height: var(--header-height);
  width: 100vw;
  z-index: 999;
  padding: 1rem;
  bottom: 0;
  left: 0;
  position: fixed;
}

header a {
  padding-left: 1rem;
  padding-right: 1rem;
}


@media screen and (min-width: 720px) {
  header {
    top: 0;

  }

  .home {
    margin-top: calc(var(--header-height) + 1rem);
  }

  .menu {
    top: var(--header-height);
    bottom: 0;
    background-color: var(--second-alpha-color);

  }

  .menu a {
    font-size: var(--menu-font-large);
  }
}

@media screen and (min-width: 1920px) {
  header {
    position: fixed;
    top: 0;
    height: calc(var(--header-height));
    width: 100vw;
    z-index: 999;
    padding: 1rem;
    bottom: 0;
    left: 0;
  }

  .menu-btn {
    display: none;
  }

  .menu {
    top: 0;
    right: 0;
    left: calc(100vw - 35vw);
    bottom: calc(100vh - var(--header-height));
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    width: auto;
    flex-direction: row;
    opacity: 1;
    pointer-events: auto;
    background-color: var(--first-color);
  }

  .menu a {
    padding: 0 1rem;
    width: auto;
    height: auto;
    background-color: var(--first-color);
    color: var(--white-color);
  }


  .menu a:hover {
    color: var(--second-color);
    text-decoration: underline;
  }

  .menu a:last-child {
    padding-right: 0;
  }

  .menu {
    display: flex;
    flex-direction: row;
  }

}



/* Home */

.home {
  height: 85vh;
  justify-content: space-around;
}

.main-home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.name-container {
  min-width: 60%;
  width: 70%;
  max-width: 100%;
  padding: 2rem;
  color: var(--first-color);
}

.name-item {
  width: 100%;
}

#name {
  display: flex;
  justify-content: flex-start;
}

#name h1:hover {
  display: flex;
  transition: 5s ease;
  justify-content: flex-end;
}

#lastname {
  display: flex;
  justify-content: flex-end;
}

#lastname h1:hover {
  display: flex;
  transition: 5s ease;
  justify-content: flex-start;
}

.photo-container {
  width: 50vw;
}

.photo-container {
  padding: 1rem;
}

.photo-container img {
  width: 40vw;
  height: auto;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  justify-content: space-evenly;
}

.link {
  width: 8vw;
}

@media screen and (min-width: 720px) {
  .home {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 90vh;
    width: auto;
    justify-content: space-around;
  }

  .name-container {
    min-width: 60%;
    width: 70%;
    max-width: 100%;
  }

  .photo-container {
    max-width: 24rem;
  }

  .photo-container img {
    width: 30vw;
    height: auto;
  }

  .links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .link {
    width: 5rem;
  }
}

@media screen and (min-width: 1920px) {
  .home {
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }

  .main-home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    padding: 2rem;
  }

  .name-container {
    min-width: 20vw;
    width: 25vw;
    max-width: 50vw;
  }

  .photo-container {
    min-width: 30vw;
    width: 35vw;
    max-width: 40vw;
  }
  .photo-container img {
    width: 25vw;
    height: auto;
  }
}

/* About */

.about-container {
  width: 80%;
}

.about-container .link {
  width: 100%;
  margin: 0 0 1rem 0;
}

/* Projects */

#projects {
  gap: 1rem;
}

#projects > article {
  margin: 1rem 0;
}

.project-info {
  width: 80%;
}

.project-info .container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.project-info .data {
  width: 80%;
  overflow-wrap: break-word;
  /* background-color: black; */
}

.project-info .data h2 {
  text-decoration: underline;
}

.project-info .link {
  padding: 1rem 0;
  width: 15%;
}

.project-info .link a img {
  width: 100%;
}

.project-imgs {
  flex-direction: row;
  gap: 1rem;
}


@media screen and (min-width: 720px) {

}

/* Certifications */

#certifications table {
  height: 35vh;
  font-size: 1.2rem;
  width: 80%;
  text-align: center;
  margin: 1rem 0;

}

th {
  width: 20%;
}

table, td, th {
  border: 0.2rem solid var(--first-color);
}

table .btn {
  margin: 0 auto;
}

#certifications table > th {
  width: 30%;
}

td .link {
  width: 100%;
}


/* Contact form */

.contact-form {
  margin: 2rem auto;
  padding: 1rem;
  max-width: 90vw;
}

.contact-form > * {
  padding: 0.5rem;
  margin: 1rem auto;
  display: block;
  width: 100%;
}

.contact-form input,
.contact-form textarea {
  font-size: 0.85rem;
  font-family: var(--font);
}

.contact-form input {
  border: 0;
  padding-left: 0;
  border-bottom: thin solid var(--gray-dark-color);
}

.contact-form textarea {
  border: thin solid var(--gray-dark-color);
  resize: none;
}

.contact-form input[type="submit"] {
  margin-top: 0;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.contact-form input[type="submit"]:hover {
  opacity: 0.75;
}

.contact-form *::placeholder {
  color: var(--gray-dark-color);
}

.contact-form-response {
  padding: 1rem;
  width: 40rem;
  text-align: center;
  background-color: var(--white-color);
}
.contact-form-response svg {
  margin-top: 2rem;
  width: 4rem;
  height: 4rem;
  fill: var(--first-color);
}
