/* Custom Properties */
:root {
  --max-width: 1200px;
  --header-height: 4rem;

  --font: "Arial", "sans-serif";

  --first-color: #C1605C;
  --first-alpha-color: rgba(193, 96, 92, 0.75);
  --second-color: #E9C3B8;
  --second-alpha-color: rgba(233, 195, 184, 0.75);
  --third-color: #FDF0EC;
  --third-alpha-color: rgba(253, 240, 236, 0.75);
  --white-color: #FEFBF6;
  --white-alpha-color: rgba(254, 251, 246, 0.75);

  --first-contrast-color: #224A54;
  --first-contrast-alpha-color: rgba(34, 74, 84, 0.75);
  --second-contrast-color: #1F4954;
  --second-contrast-alpha-color: rgba(31, 73, 84, 0.75);
  --third-contrast-color: #98BEC8;
  --third-contrast-alpha-color: rgba(152, 190, 200, 0.75);
  --fourth-contast-color: #D7E0E5;
  --fourth-contrast-alpha-color: rgba(215, 224, 229, 0.75);
  --black-color: #1A1A1A;
  --black-alpha-color: rgba(26, 26, 26, 0.75);

  --first-title-color: #3BAB87;
  --first-title-alpha-color: rgba(57, 171, 135, 0.75);

}

.home, .about {
  width: 50vw;
}

.section--profile, .article--name-container {
  width: 30vw;
  height: auto;
}

.about-container {
  width: inherit;
}

.border-dashes {
  border-left: dashed var(--black-color) 0.4rem;
  border-right: dashed var(--black-color) 0.4rem;
  border-top: dashed var(--black-color) 0.4rem;
  border-bottom: dashed var(--black-color) 0.4rem;
  border-top: 0;
  border-bottom: 0;
  margin: 1.2rem 0;
  padding: 1.2rem;
}

body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.about {
  margin-top: 0;
}


.contact-me {
  width: 100vw;
}
